/* FONTS */
/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Work Sans', sans-serif; */

@import url();

section {
    padding: 0px 100px 0px;
}

.colored {
    text-align: center;
    background-color: #BBE1FA;
    padding: 50px 0;
}

.white {
    text-align: center;
    background-color: white;
    padding: 50px 0;
}

p, .nav-item {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, .navbar-brand {
    font-family: 'Aref Ruqaa Ink', serif;
}

.navbar {
    background-color: #3282B8;
}

.nav-link, .navbar-brand {
    color: white !important;
}

.nav-item {
    padding: 0 20px;
}

#home {
    text-align: left;
    padding: 0 50px 0;
}

.hometext {
    padding-top: 100px;
}

.hometext h1 {
    font-size: 55px;
}

.homedesc {
    padding: 30px 0 30px ;
}

.homebtn {
    margin: 5px 0 15px;
}

#about, #features{
    padding: 120px 200px;
}

.aboutheader {
    padding: 20px 0 50px;
}

.featureicon {
    width: 100px;
    margin: 50px 0 30px;
}

#plans {
    margin: 30px 150px
}

.plantext {
    padding: 0 0 70px;
}

.xmark {
    color: tomato;
}

.check {
    color: rgb(69, 243, 135);
}

.carousel {
    margin: 100px;
}

.carousel-inner {
    padding: 0 80px;
}

.carouselPic {
    width: 120px;
    border-radius: 100px;
    margin: 20px;
}

#cta {
    padding: 150px;
}

#cta h1 {
    font-size: 80px;
    padding: 0 0 70px;
}

.ctaButton {
    font-size: 100px;
}

#footer {
    padding: 50px 0 100px 20px;
    background-color: #3282B8;
    color: white;
}

.footerLink {
    text-decoration: none;
    color: white;
    line-height: 40px;
}